{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySite</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="mydiv">

    </div>
    <h1>Hello</h1>
    <h2>Hello</h2>
    <h3>Hello</h3>
    <h4>Hello</h4>
    <h5>Hello</h5>
    <h6>Hello</h6>
    <p>Hello</p>
    <a href="https://www.youtube.com/">MyLink</a><br><br><br>
    <hr>
    <a href="https://www.youtube.com/"><button>MyLink</button></a>
    <ul>
        <li>Edo</li>
        <li>Sevaher</li>
        <li>Yeritasard</li>
    </ul>
    <a href="https://www.google.com/search?sca_esv=562175836&rlz=1C1GCEA_enAM1046AM1046&sxsrf=AB5stBjRUviMdSbTKrfermucKF9UEmdvyQ:1693655970456&q=bmw+m3&tbm=isch&source=lnms&sa=X&sqi=2&ved=2ahUKEwjZ-fWT8IuBAxVO_rsIHdiuA7EQ0pQJegQICxAB&biw=1707&bih=786&dpr=1.13#imgrc=SvFzv2xXkUnFUM"><img src="https://www.pcarmarket.com/static/media/uploads/galleries/photos/uploads/galleries/26337-fl-francisco-2018-bmw-m3-competition/.thumbnails/A-01.jpg/A-01-tiny-2048x0-0.5x0.jpg" width="80px" height="80px" alt=""></a>
</body>
</html>